emojis-controller/src/wsdl/localhost_8080/emojis-ws/EmojiService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p3 (2.4.3.payara-maintenance-a5c1c68; 2019-06-17T14:04:38+0200) JAXWS-RI/2.3.2.payara-p2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://ws.emojis/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.emojis/">

<xs:element name="addEmoji" type="tns:addEmoji"/>

<xs:element name="emoji" type="tns:emoji"/>

<xs:element name="getEmojiById" type="tns:getEmojiById"/>

<xs:element name="getEmojiByIdResponse" type="tns:getEmojiByIdResponse"/>

<xs:element name="getEmojis" type="tns:getEmojis"/>

<xs:element name="getEmojisResponse" type="tns:getEmojisResponse"/>

<xs:element name="removeEmojiById" type="tns:removeEmojiById"/>

<xs:element name="updateEmoji" type="tns:updateEmoji"/>

<xs:complexType name="getEmojiById">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getEmojiByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:emoji" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="emoji">
<xs:sequence>
<xs:element name="base64Icon" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="icon" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateEmoji">
<xs:sequence>
<xs:element name="emoji" type="tns:emoji" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeEmojiById">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addEmoji">
<xs:sequence>
<xs:element name="emoji" type="tns:emoji" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getEmojis">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getEmojisResponse">
<xs:sequence>
<xs:element name="return" type="tns:emoji" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>