emoji-client/src/ws/client/EmojiWebApi.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. -->
<definitions
        xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:tns="http://server.ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server.ws/" name="EmojiWebApiService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://server.ws/" schemaLocation="http://localhost:9000/EmojiWebApi?xsd=1"/>
        </xsd:schema>
    </types>
    <message name="update">
        <part name="parameters" element="tns:update"/>
    </message>
    <message name="updateResponse">
        <part name="parameters" element="tns:updateResponse"/>
    </message>
    <message name="save">
        <part name="parameters" element="tns:save"/>
    </message>
    <message name="saveResponse">
        <part name="parameters" element="tns:saveResponse"/>
    </message>
    <message name="findById">
        <part name="parameters" element="tns:findById"/>
    </message>
    <message name="findByIdResponse">
        <part name="parameters" element="tns:findByIdResponse"/>
    </message>
    <message name="deleteById">
        <part name="parameters" element="tns:deleteById"/>
    </message>
    <message name="deleteByIdResponse">
        <part name="parameters" element="tns:deleteByIdResponse"/>
    </message>
    <message name="getEmojis">
        <part name="parameters" element="tns:getEmojis"/>
    </message>
    <message name="getEmojisResponse">
        <part name="parameters" element="tns:getEmojisResponse"/>
    </message>
    <portType name="EmojiWebApi">
        <operation name="update">
            <input wsam:Action="http://server.ws/EmojiWebApi/updateRequest" message="tns:update"/>
            <output wsam:Action="http://server.ws/EmojiWebApi/updateResponse" message="tns:updateResponse"/>
        </operation>
        <operation name="save">
            <input wsam:Action="http://server.ws/EmojiWebApi/saveRequest" message="tns:save"/>
            <output wsam:Action="http://server.ws/EmojiWebApi/saveResponse" message="tns:saveResponse"/>
        </operation>
        <operation name="findById">
            <input wsam:Action="http://server.ws/EmojiWebApi/findByIdRequest" message="tns:findById"/>
            <output wsam:Action="http://server.ws/EmojiWebApi/findByIdResponse" message="tns:findByIdResponse"/>
        </operation>
        <operation name="deleteById">
            <input wsam:Action="http://server.ws/EmojiWebApi/deleteByIdRequest" message="tns:deleteById"/>
            <output wsam:Action="http://server.ws/EmojiWebApi/deleteByIdResponse" message="tns:deleteByIdResponse"/>
        </operation>
        <operation name="getEmojis">
            <input wsam:Action="http://server.ws/EmojiWebApi/getEmojisRequest" message="tns:getEmojis"/>
            <output wsam:Action="http://server.ws/EmojiWebApi/getEmojisResponse" message="tns:getEmojisResponse"/>
        </operation>
    </portType>
    <binding name="EmojiWebApiPortBinding" type="tns:EmojiWebApi">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="update">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="save">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="findById">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="deleteById">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getEmojis">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="EmojiWebApiService">
        <port name="EmojiWebApiPort" binding="tns:EmojiWebApiPortBinding">
            <soap:address location="http://localhost:9000/EmojiWebApi"/>
        </port>
    </service>
</definitions>