emojis-controller/src/wsdl/localhost_8080/emojis-soap/EmojiService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p3 (2.4.3.payara-maintenance-a5c1c68; 2019-06-17T14:04:38+0200) JAXWS-RI/2.3.2.payara-p2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3.payara-p3 (2.4.3.payara-maintenance-a5c1c68; 2019-06-17T14:04:38+0200) JAXWS-RI/2.3.2.payara-p2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.emojis/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.emojis/" name="EmojiService">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.emojis/" schemaLocation="http://localhost:8080/emojis-soap/EmojiService?xsd=1"/>
</xsd:schema>
</types>
<message name="getEmojis">
<part name="parameters" element="tns:getEmojis"/>
</message>
<message name="getEmojisResponse">
<part name="parameters" element="tns:getEmojisResponse"/>
</message>
<message name="addEmoji">
<part name="parameters" element="tns:addEmoji"/>
</message>
<message name="removeEmojiById">
<part name="parameters" element="tns:removeEmojiById"/>
</message>
<message name="getEmojiById">
<part name="parameters" element="tns:getEmojiById"/>
</message>
<message name="getEmojiByIdResponse">
<part name="parameters" element="tns:getEmojiByIdResponse"/>
</message>
<message name="updateEmoji">
<part name="parameters" element="tns:updateEmoji"/>
</message>
<portType name="EmojiWebService">
<operation name="getEmojis">
<input wsam:Action="http://soap.emojis/EmojiWebService/getEmojisRequest" message="tns:getEmojis"/>
<output wsam:Action="http://soap.emojis/EmojiWebService/getEmojisResponse" message="tns:getEmojisResponse"/>
</operation>
<operation name="addEmoji">
<input wsam:Action="http://soap.emojis/EmojiWebService/addEmoji" message="tns:addEmoji"/>
</operation>
<operation name="removeEmojiById">
<input wsam:Action="http://soap.emojis/EmojiWebService/removeEmojiById" message="tns:removeEmojiById"/>
</operation>
<operation name="getEmojiById">
<input wsam:Action="http://soap.emojis/EmojiWebService/getEmojiByIdRequest" message="tns:getEmojiById"/>
<output wsam:Action="http://soap.emojis/EmojiWebService/getEmojiByIdResponse" message="tns:getEmojiByIdResponse"/>
</operation>
<operation name="updateEmoji">
<input wsam:Action="http://soap.emojis/EmojiWebService/updateEmoji" message="tns:updateEmoji"/>
</operation>
</portType>
<binding name="EmojiWebServicePortBinding" type="tns:EmojiWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getEmojis">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addEmoji">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="removeEmojiById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getEmojiById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateEmoji">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
</binding>
<service name="EmojiService">
<port name="EmojiWebServicePort" binding="tns:EmojiWebServicePortBinding">
<soap:address location="http://localhost:8080/emojis-soap/EmojiService"/>
</port>
</service>
</definitions>