emojis-client/src/wsdl/localhost_8080/services/EmojiService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://webservice.emojis/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="EmojiService" targetNamespace="http://webservice.emojis/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://webservice.emojis/" elementFormDefault="unqualified" targetNamespace="http://webservice.emojis/" version="1.0">

  <xs:element name="addEmoji" type="tns:addEmoji"/>

  <xs:element name="emoji" type="tns:emoji"/>

  <xs:element name="getEmojiById" type="tns:getEmojiById"/>

  <xs:element name="getEmojiByIdResponse" type="tns:getEmojiByIdResponse"/>

  <xs:element name="getEmojis" type="tns:getEmojis"/>

  <xs:element name="getEmojisResponse" type="tns:getEmojisResponse"/>

  <xs:element name="removeEmojiById" type="tns:removeEmojiById"/>

  <xs:element name="updateEmoji" type="tns:updateEmoji"/>

  <xs:complexType name="removeEmojiById">
    <xs:sequence>
      <xs:element name="emojiId" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateEmoji">
    <xs:sequence>
      <xs:element minOccurs="0" name="emoji" type="tns:emoji"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="emoji">
    <xs:sequence>
      <xs:element minOccurs="0" name="base64Icon" type="xs:string"/>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="emojiId" type="xs:int"/>
      <xs:element minOccurs="0" name="emojiName" type="xs:string"/>
      <xs:element minOccurs="0" name="icon" type="xs:base64Binary"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getEmojis">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getEmojisResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:emoji"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addEmoji">
    <xs:sequence>
      <xs:element minOccurs="0" name="emoji" type="tns:emoji"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getEmojiById">
    <xs:sequence>
      <xs:element name="emojiId" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getEmojiByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:emoji"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="removeEmojiById">
    <wsdl:part element="tns:removeEmojiById" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateEmoji">
    <wsdl:part element="tns:updateEmoji" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEmojisResponse">
    <wsdl:part element="tns:getEmojisResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEmojiByIdResponse">
    <wsdl:part element="tns:getEmojiByIdResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEmojiById">
    <wsdl:part element="tns:getEmojiById" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEmojis">
    <wsdl:part element="tns:getEmojis" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addEmoji">
    <wsdl:part element="tns:addEmoji" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EmojiService">
    <wsdl:operation name="removeEmojiById">
      <wsdl:input message="tns:removeEmojiById" name="removeEmojiById">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="updateEmoji">
      <wsdl:input message="tns:updateEmoji" name="updateEmoji">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getEmojis">
      <wsdl:input message="tns:getEmojis" name="getEmojis">
    </wsdl:input>
      <wsdl:output message="tns:getEmojisResponse" name="getEmojisResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addEmoji">
      <wsdl:input message="tns:addEmoji" name="addEmoji">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getEmojiById">
      <wsdl:input message="tns:getEmojiById" name="getEmojiById">
    </wsdl:input>
      <wsdl:output message="tns:getEmojiByIdResponse" name="getEmojiByIdResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmojiServiceSoapBinding" type="tns:EmojiService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="removeEmojiById">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="removeEmojiById">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="updateEmoji">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateEmoji">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getEmojis">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getEmojis">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getEmojisResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addEmoji">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addEmoji">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getEmojiById">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getEmojiById">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getEmojiByIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmojiService">
    <wsdl:port binding="tns:EmojiServiceSoapBinding" name="EmojiServicePort">
      <soap:address location="http://localhost:8080/services/EmojiService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>